body{
background-color:white;
color:rgb(82, 68, 94);
margin: 0px


}

header{
  border-bottom: solid black;  
  padding: 20px;
  font-size: 32px;
  color:black;}

  section{
    background-color: rgb(59, 90, 90);
  }
}